/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.Link-container {
  text-decoration: none;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  height: 60px;
  align-self: center;
  margin-right: 13px;
}
.main-heading {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
}
.ul-list-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
